{% extends "base.html" %}

{% block content %}
<div class="content-section">
    <h2>Cake Categories</h2>
    <a href="{{ url_for('add_category') }}" class="button">Add New Category</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category[0] }}</td>
                <td>{{ category[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}